html {
    font-size: 16px;
    background-color: rgb(0, 195, 255);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}

label {
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

select {
    font-size: 1rem;
    width: 200px;
    text-align: center;

}

#converterArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="number"] {
    font-size: 1rem;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #ccc;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}

button {
    font-size: 1.2rem;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}